extends layout

block content
  img(class='background', src='../images/flower_watermark.jpg')

  h1 About our Family

  p Our family lives in the heartland of America, Kansas City.  A mom and a dad, a daughter and a son, and a little dog.  Our daughter's name is Adelaide, hence the name.  These recipes are for personal or educational use only.

  p We have no association with 
    a(href='http://www.HungryAdelaide.com/') HungryAdelaide.com
    , except (of course the name through 
    a(href='http://freedns.afraid.org/') FreeDNS
    ).  Thanks to both organizations.
