!!!
html
  head
    title= title
    link(rel='stylesheet', href='/recipes/stylesheets/style.css')
  body
    div(class='wrapper')
      div(class='content')
        block content
      div(class='push')

    div(class='footer', align='center')
      hr
      a(href='/recipes/') Home
      span &nbsp|&nbsp
      a(href='/recipes/about') About
      span &nbsp|&nbsp
      a(href='/recipes/legal') Legal
