extends layout

block content
  div#main
    div.container
      header
        h1 Legal Information
      p
        strong This is a private web and is only intended for use by our family.  If you feel you don't meet this criteria, then "Our blessing to you as you leave."

      h3 Warning Concerning Copyright Restrictions
      p You may only use this archive for private study, scholarship, or research. If your intentions are otherwise, do not proceed any further into this archive.
      p Hungry Adelaide Recipes does not accept recipes have been taken from cookbooks, magazines, or any other published material.
      p The archive is (probably) legal as long as you use it for personal use.  All recipes are the respective author's own interpretations and Hungry Adelaide Recipes is not responsible for any of the recipes. 
      p The copyright law of the United States (Title 17, United States Code) pre governs the making of photocopies or other reproductions of copyrighted material. Under certain conditions specified in the law, libraries and archives are authorized to furnish a photocopy or other reproduction. One of these specified conditions is that the photocopy or reproduction is not to be "used for any purpose other than private study, scholarship, or research." If a user makes a request for, or later uses, a photocopy or reproduction for purposes in excess of "fair use," that user may be liable for copyright infringement.
