* {
  margin: 0;
}

a {
  color: #00B7FF;
}

span {
  color: #80A0D0;
}

ul {display: inline-block;}


body
{
  font-family:"Lucida Grande", verdana,helvetica,sans-serif;
}

html, body {
  height: 100%;
  width: 600px;
}

img.background
{
  position:absolute;
  z-index:-1;
  right:0px;
  width: 400px;
  background-color: #ffffff;
  border: 0px solid black;
  /* for IE */
  filter:alpha(opacity=50);
  /* CSS3 standard */
  opacity:0.3;
}

h1
{
  font-family:Garamond, "Century Schoolbook", "Bookman", "bookman old style", Georgia, Arial;
  font-size:42;
}

h2
{
  display:block;
  font-family:Garamond, "Century Schoolbook", "Bookman", "bookman old style", Georgia, Arial;
  font-weight:bold;
  font-size:42;
  color:#3344ff;
}

h3
{
  display:block;
  font-weight:bold;
  color:#3344ff;
}

span.Quantity, span.Amount, span.Unit
{
  font-weight:bold;
}

.wrapper
{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px; /* the bottom margin is the negative value of the footer's height */
}

.wrapper .content div
{
  margin: 10px
}
.wrapper .content div div
{
  margin: 2px
}
.wrapper .content h1
{
  margin: 10px
}
//.wrapper .content h2
//{
//  margin: 10px
//}
.wrapper .content h3
{
  margin: 10px
}
.wrapper .content p
{
  margin: 10px
}

.footer, .push
{
	height: 30px; /* .push must be the same height as .footer */
  margin:0px
}

span.tag
{
  display: inline-block;
}
span.tag a
{
  color: #3E6D8E;
  background-color: #E0EAF1;
  border-bottom: 1px solid #3E6D8E;
  border-right: 1px solid #7F9FB6;
  padding: 3px 4px 3px 4px;
  margin: 4px 2px 4px 0;
  text-decoration: none;
  font-size: 90%;
  line-height: 2.4;
  white-space: nowrap;
}

li.ingredient
{
  display: inline;
  list-style-type:circle;
  font-size:8pt;
}

p.instructions
{
  margin: 0px;
  font-size:8pt;
  text-indent: 20px
}

div.recipe
{
  border-top: 1px dotted #3E6D8E;
  width='600px';
}
div.inline
{
  border-bottom: 1px dotted #3E6D8E;
}
div.sxs
{
  display: inline-block;
  width: 45%;
  vertical-align: top;
}
div.sxs p.rating
{
  color:#808080;
  font-size:8pt;
}

div.sxs p.rating span.rating
{
  color:#c00000;
  font-size:16pt;
}

div.sxs p.rating span.ratingr
{
  color:#c0c0c0;
  font-size:16pt;
}

div.recipe_header span
{
  overflow:hidden;
  text-overflow:ellipsis;
}

.right
{
  display: inline-block;
  text-align: right;
}

